---
permalink: /ja/feed.xml
eleventyExcludeFromCollections: true
layout: false
lang: ja
date: 2026-07-23
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="ja">
<title>{{ site.i18n.ja.siteTitle }}</title>
<subtitle>{{ site.i18n.ja.tagline }}</subtitle>
<link href="{{ site.url }}/ja/feed.xml" rel="self"/>
<link href="{{ site.url }}/ja/"/>
<updated>{% if collections.postsJa.length %}{{ collections.postsJa[0].date | dateToRfc3339 }}{% else %}{{ page.date | dateToRfc3339 }}{% endif %}</updated>
<id>{{ site.url }}/ja/</id>
<author>
  <name>{{ site.author.name }}</name>
  <email>{{ site.author.email }}</email>
</author>
{% for post in collections.postsJa | reverse %}
<entry>
  <title>{{ post.data.title }}</title>
  <link href="{{ site.url }}{{ post.url }}"/>
  <updated>{{ post.date | dateToRfc3339 }}</updated>
  <id>{{ site.url }}{{ post.url }}</id>
  <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(site.url + post.url) | escape }}</content>
</entry>
{% endfor %}
</feed>
