---
layout: layouts/base.njk
lang: zh-TW
section: series
title: 系列
description: 依序閱讀「玩家不是無限的」。
permalink: /zh/series/
---
{% set series = site.series.playersNotInfinite %}
{% set posts = collections.postsZh | seriesPosts('players-not-infinite') %}
<section class="series-page" aria-labelledby="series-title">
  <h1 id="series-title">{{ series.title[lang] }}</h1>
  <p>{{ series.description[lang] }}</p>
  <p>{{ posts.length }} {{ site.i18n[lang].stories }}</p>
  {% if posts.length %}<p><a href="{{ posts[0].url }}">{{ site.i18n[lang].recommendedStart }}: {{ posts[0].data.displayTitle }}</a></p>{% endif %}
  <h2>{{ site.i18n[lang].readingOrder }}</h2>
  <ol class="series-list">
    {% for post in posts %}
    <li class="series-row"><a href="{{ post.url }}">{{ post.data.displayTitle }}</a><p>{{ post.data.summary }}</p></li>
    {% endfor %}
  </ol>
</section>
