---
permalink: /feed.xml
eleventyExcludeFromCollections: true
lang: en
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
<title>{{ site.i18n.en.siteTitle }}</title>
<subtitle>{{ site.i18n.en.tagline }}</subtitle>
<link href="{{ site.url }}/feed.xml" rel="self"/>
<link href="{{ site.url }}/"/>
<updated>{% if collections.postsEn[0].date %}{{ collections.postsEn[0].date | dateToRfc3339 }}{% endif %}</updated>
<id>{{ site.url }}/</id>
<author>
  <name>{{ site.author.name }}</name>
  <email>{{ site.author.email }}</email>
</author>
{% for post in collections.postsEn | reverse %}
<entry>
  <title>{{ post.data.title }}</title>
  <link href="{{ site.url }}{{ post.url }}"/>
  <updated>{{ post.date | dateToRfc3339 }}</updated>
  <id>{{ site.url }}{{ post.url }}</id>
  <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(site.url + post.url) | escape }}</content>
</entry>
{% endfor %}
</feed>
